<!DOCTYPE>
<html>
	<head>
		<title>Form Test Index</title>
	</head>
	<body>
		<form action='/result' method='POST'> 
			Your name:
			 <input type="text" name='name'>
			Dojo Location:
			<select name="city">
  				<option value='Silicon Valley'>Silicon Valley</option>
  				<option value='Seattle'>Seattle</option>
  				<option value='Los Angeles'>Los Angeles</option>
  				<option value='Dallas'>Dallas</option>
				<option value='Washington DC'>Washington DC</option>
				<option value='Chicago'>Chicago</option>
			</select>
			Favorite Language:
			<select name ="language">
				<option value="python">python</option>
				<option value="javascript">javascript</option>
			</select>
			Comment(optional):
			<input type=:"text" name="comment" placeholder="text">
			<input type="submit" value="Submit">		
		</form> 
	</body>
</html>
