<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<p>hello young grasshopper.</p>
		<p>it is my understanding that you would like to become a ninja.</p>
		<p>allow me to guide you along your journey.</p>
		<p>it is imperitive that you follow our code of being</p>
		<ul>
			<li>1. never reveal your true identity to anyone</li>
			<li>2. to understand the ninja way you must distinguish between that which is useful, and that which is not</li>
			<li>3. stick to the shadows, for then you may control those who walk in the light</li>
			<li>4. failure only occurs once you turn away from destiny. Do not turn away </li>
		</ul>
	</body>
</html>
